body {
    width: 454px;
    margin: 50px auto;
    letter-spacing: 5px;
    font-size: 25px;
  }
  
  .calculator {
    padding: 15px;
    border-radius: 5px;
    margin-right: 50px;
  }
  
  .in {
    border: 3px solid black;
    border-radius: 10px;
    height: 80px;
    width: 365px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 10px;
    overflow-x: auto;
    transition: 0.2s ease-out;
  }
  
  .in:hover {
    border: 3px solid gold;
    box-shadow: inset 0px 1px 4px 0px black;
  }
  
  .operators div {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    color: black;
    background-color: red;
    transition: border-color 0.2s ease-in, background-color 0.5s, box-shadow 0.2s;
  }
  
  .operators div:hover {
    background-color: black;
    box-shadow: 0px 1px 4px 0px black;
    color: gold;
    border-color: gold;
    border-radius: 5px;
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  .panel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    border: 1px solid gold;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    color: gold;
    background-color: black;
    transition: border-color 0.2s ease-in-out, background-color 0.5s,
      box-shadow 0.2s;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  .numbers div:hover {
    background-color: red;
    box-shadow: 0px 1px 4px 0px black;
    color: black;
    border-color: black;
    border-radius: 5px;
  }
  
  div.equal {
    display: inline-block;
    border: 3px solid gold;
    border-radius: 5px;
    width: 20px;
    text-align: left;
    
    padding-left: 335px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: black;
    background-color: red;
    transition: all 0.2s ease-out;
    box-shadow: 0px 2px 4px 0px black;
    
  }
  
  div.equal:hover {
    background-color: black;
    box-shadow: 0px 2px 4px 0px black;
    border-color: gold;
    color: gold;
    transition: all 0.2s ease-in;
    border-radius: 5px;
  }
  
  div.equal:active {
    font-weight: bold;
  }
  
  .btn-clear {
    width: 365px;
    border-radius: 5px;
    border-color: gold;
    background-color: black;
    color: gold;
    box-shadow: 0px 2px 4px 0px black;
  }
  
  .btn-clear:hover {
    background-color: red;
    box-shadow: 0px 1px 4px 0px black;
    color: black;
    border-color: black;
    border-radius: 5px;
    transition: all 0.3s ease-in;
  }
  
  .btn-clear:active {
    font-weight: bold;
  }


  